/* Let's style our fancy buttons*/
button {
	background-color: #28c2ff;
	color: #173753;
	width: 100%;
	height: 100px;
	box-shadow: #2191fb 0px 0px 50px 15px;
	border-radius: 100px;
	max-width: 80vw;
	overflow: hidden;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	line-height: 90%;
	font-size: 150%;
	font-weight: bolder;
}
div.buttoncontainer {
	width: 400px;
	max-width: 80vw;
	transition: all 1s ease 0s;
	position: relative;
	left: 50%;
	transform: translate(-50%);
}
button.animatein {
	-webkit-animation-name: lengthen;
	-webkit-animation-duration: 1s;
	-webkit-animation-fill-mode: forwards;
	animation-name: example;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@-webkit-keyframes lengthen {
	from {width: 0;}
	to {width: 100%;}
}
@keyframes lengthen {
	from {width: 0;}
	to {width: 100%;}
}

button:hover {
	background-color: #2af5ff;
	box-shadow: #89daff 0px 0px 50px 15px;
}


/* And the rest of the css... */
* {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

html, body {
	overflow: hidden;
	background-color: #3066be;
}
